name: Terraform Apply

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: terraform/envs/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/28661575811/locations/global/workloadIdentityPools/github-pool/providers/github"
          service_account: "github-terraform@networking-486816.iam.gserviceaccount.com"

      - name: Terraform fmt
        working-directory: .
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -input=false -backend-config="bucket=egress-forge-tf-state" -backend-config="prefix=dev"

      - name: Terraform validate
        run: terraform validate

      - name: Terraform apply
        run: terraform apply -input=false -auto-approve
